substitutions:
  light_name_foyer: "Foyer"
  light_name_vanity: "Vanity"
  light_name_bedroom: "Bedroom"
  light_name_hall: "Hall"
  light_name_office: "Office"
  light_name_upstairs: "Upstairs"

  entity_light_foyer: "light.replace_me_foyer"
  entity_light_vanity: "light.replace_me_vanity"
  entity_light_bedroom: "light.replace_me_bedroom"
  entity_light_hall: "light.replace_me_hall"
  entity_light_office: "light.replace_me_office"
  entity_light_upstairs: "light.replace_me_upstairs"
  light_slot_count: "6"
  light_slot_1_name: "Foyer"
  light_slot_2_name: "Vanity"
  light_slot_3_name: "Bedroom"
  light_slot_4_name: "Hall"
  light_slot_5_name: "Office"
  light_slot_6_name: "Upstairs"
  light_slot_7_name: "Spare 7"
  light_slot_8_name: "Spare 8"
  light_slot_1_entity: "light.replace_me_slot_1"
  light_slot_2_entity: "light.replace_me_slot_2"
  light_slot_3_entity: "light.replace_me_slot_3"
  light_slot_4_entity: "light.replace_me_slot_4"
  light_slot_5_entity: "light.replace_me_slot_5"
  light_slot_6_entity: "light.replace_me_slot_6"
  light_slot_7_entity: "light.replace_me_slot_7"
  light_slot_8_entity: "light.replace_me_slot_8"

  entity_wx_main: "weather.replace_me"
  entity_wx_condition_sensor: "sensor.replace_me_weather_condition"
  entity_wx_weather_sensor: "sensor.replace_me_weather_text"
  entity_wx_temp_sensor: "sensor.replace_me_weather_temperature"
  entity_wx_feels_sensor: "sensor.replace_me_weather_feels_like"
  entity_wx_humidity_sensor: "sensor.replace_me_weather_humidity"
  entity_wx_clouds_sensor: "sensor.replace_me_weather_clouds"
  entity_wx_pressure_sensor: "sensor.replace_me_weather_pressure"
  entity_wx_uv_sensor: "sensor.replace_me_weather_uv"
  entity_wx_visibility_sensor: "sensor.replace_me_weather_visibility"
  entity_wx_wind_speed_sensor: "sensor.replace_me_weather_wind_speed"

  entity_word_of_day_sensor: "sensor.replace_me_word_of_day"
  entity_quote_of_hour_sensor: "sensor.replace_me_quote_of_hour"
  entity_feed_bbc: "event.replace_me_bbc"
  entity_feed_dc: "event.replace_me_dc"
  entity_feed_loudoun: "event.replace_me_loudoun"

  entity_sensi_climate: "climate.replace_me"
  entity_sensi_temperature_sensor: "sensor.replace_me_sensi_temperature"
  entity_sensi_humidity_sensor: "sensor.replace_me_sensi_humidity"
  entity_sensi_auto_cool_number: "number.replace_me_sensi_auto_cool"
  entity_sensi_auto_heat_number: "number.replace_me_sensi_auto_heat"
  entity_sensi_humidity_offset_number: "number.replace_me_sensi_humidity_offset"
  entity_sensi_temperature_offset_number: "number.replace_me_sensi_temperature_offset"
  entity_sensi_aux_heat_switch: "switch.replace_me_sensi_aux_heat"
  entity_sensi_display_humidity_switch: "switch.replace_me_sensi_display_humidity"
  entity_sensi_display_time_switch: "switch.replace_me_sensi_display_time"
  entity_sensi_fan_support_switch: "switch.replace_me_sensi_fan_support"
  entity_sensi_humidification_switch: "switch.replace_me_sensi_humidification"
  entity_sensi_keypad_lockout_switch: "switch.replace_me_sensi_keypad_lockout"
