esphome:
  name: tdeck-plus-display-test
  friendly_name: T-Deck Plus Display Test
  on_boot:
    priority: 800
    then:
      - output.turn_on: peripheral_power

esp32:
  board: esp32-s3-devkitc-1
  framework:
    type: arduino

logger:

api:

ota:
  - platform: esphome

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

captive_portal:

external_components:
  - source:
      type: local
      path: ../../components
    components: [tdeck_plus_st7789]

output:
  - platform: gpio
    pin: GPIO10
    id: peripheral_power

spi:
  clk_pin: GPIO40
  mosi_pin: GPIO41
  miso_pin: GPIO38

display:
  - platform: tdeck_plus_st7789
    id: main_display
    cs_pin: GPIO12
    dc_pin: 11
    backlight_pin: 42
    update_interval: 1s
    lambda: |-
      it.fill(Color::BLACK);
      it.filled_rectangle(10, 10, 300, 220, Color(0, 60, 160));
      it.rectangle(8, 8, 304, 224, Color::WHITE);
