display:
  - platform: mipi_spi
    id: tft
    model: CUSTOM
    bus_mode: single
    cs_pin: 12
    dc_pin: 11
    dimensions:
      width: 320
      height: 240
      offset_width: 0
      offset_height: 0
    transform:
      swap_xy: true
      mirror_x: true
      mirror_y: false
    color_order: rgb
    invert_colors: true
    spi_mode: MODE0
    data_rate: 16MHz
    byte_order: big_endian
    draw_rounding: 2
    update_interval: never
    auto_clear_enabled: false
    init_sequence:
      - [0x13]
      - delay 120ms
      - delay 10ms
      - [0xB2, 0x0C, 0x0C, 0x00, 0x33, 0x33]
      - [0xB7, 0x75]
      - [0xBB, 0x1A]
      - [0xC0, 0x2C]
      - [0xC2, 0x01]
      - [0xC3, 0x13]
      - [0xC4, 0x20]
      - [0xC6, 0x0F]
      - [0xD0, 0xA4, 0xA1]
      - [0xE0, 0xD0, 0x0D, 0x14, 0x0D, 0x0D, 0x09, 0x38, 0x44, 0x4E, 0x3A, 0x17, 0x18, 0x2F, 0x30]
      - [0xE1, 0xD0, 0x09, 0x0F, 0x08, 0x07, 0x14, 0x37, 0x44, 0x4D, 0x38, 0x15, 0x16, 0x2C, 0x3E]
      - [0x2A, 0x00, 0x00, 0x00, 0xEF]
      - [0x2B, 0x00, 0x00, 0x01, 0x3F]
