binary_sensor:
  - platform: gpio
    id: tb_right
    pin:
      number: 2
      mode:
        input: true
        pullup: true
      inverted: true
    filters:
      - delayed_on_off: 12ms
      - settle: 15ms
    on_press:
      then:
        - if:
            condition:
              lambda: "return id(wake_on_trackball) && (id(screensaver_active) || (esphome::millis() - id(last_activity_note_ms) > 1800));"
            then:
              - script.execute: note_activity

  - platform: gpio
    id: tb_up
    pin:
      number: 3
      mode:
        input: true
        pullup: true
      inverted: true
      ignore_strapping_warning: true
    filters:
      - delayed_on_off: 12ms
      - settle: 15ms
    on_press:
      then:
        - if:
            condition:
              lambda: "return id(wake_on_trackball) && (id(screensaver_active) || (esphome::millis() - id(last_activity_note_ms) > 1800));"
            then:
              - script.execute: note_activity

  - platform: gpio
    id: tb_left
    pin:
      number: 1
      mode:
        input: true
        pullup: true
      inverted: true
    filters:
      - delayed_on_off: 12ms
      - settle: 15ms
    on_press:
      then:
        - if:
            condition:
              lambda: "return id(wake_on_trackball) && (id(screensaver_active) || (esphome::millis() - id(last_activity_note_ms) > 1800));"
            then:
              - script.execute: note_activity

  - platform: gpio
    id: tb_down
    pin:
      number: 15
      mode:
        input: true
        pullup: true
      inverted: true
    filters:
      - delayed_on_off: 12ms
      - settle: 15ms
    on_press:
      then:
        - if:
            condition:
              lambda: "return id(wake_on_trackball) && (id(screensaver_active) || (esphome::millis() - id(last_activity_note_ms) > 1800));"
            then:
              - script.execute: note_activity

  - platform: gpio
    id: tb_click
    pin:
      number: 0
      mode:
        input: true
        pullup: true
      inverted: true
      ignore_strapping_warning: true
    filters:
      - delayed_on_off: 16ms
      - settle: 18ms
    on_press:
      then:
        - if:
            condition:
              lambda: "return id(wake_on_trackball) && (id(screensaver_active) || (esphome::millis() - id(last_activity_note_ms) > 1800));"
            then:
              - script.execute: note_activity
