binary_sensor:
  - platform: gpio
    id: tb_right
    pin:
      number: 2
      mode:
        input: true
        pullup: true
      inverted: true
    on_press:
      then:
        - if:
            condition:
              lambda: "return id(wake_on_trackball);"
            then:
              - script.execute: note_activity

  - platform: gpio
    id: tb_up
    pin:
      number: 3
      mode:
        input: true
        pullup: true
      inverted: true
      ignore_strapping_warning: true
    on_press:
      then:
        - if:
            condition:
              lambda: "return id(wake_on_trackball);"
            then:
              - script.execute: note_activity

  - platform: gpio
    id: tb_left
    pin:
      number: 1
      mode:
        input: true
        pullup: true
      inverted: true
    on_press:
      then:
        - if:
            condition:
              lambda: "return id(wake_on_trackball);"
            then:
              - script.execute: note_activity

  - platform: gpio
    id: tb_down
    pin:
      number: 15
      mode:
        input: true
        pullup: true
      inverted: true
    on_press:
      then:
        - if:
            condition:
              lambda: "return id(wake_on_trackball);"
            then:
              - script.execute: note_activity

  - platform: gpio
    id: tb_click
    pin:
      number: 0
      mode:
        input: true
        pullup: true
      inverted: true
      ignore_strapping_warning: true
    on_press:
      then:
        - if:
            condition:
              lambda: "return id(wake_on_trackball);"
            then:
              - script.execute: note_activity
